.link-disable{
	cursor: default;
	text-decoration: none;
	color: gray;
}
.link-disable img {
	width: 24px;
	height: 24px;
	display: inline;
}
.link-disable:hover{
	color: darkgray;
}
.link-disable:visited{
	color: darkgray;
}
.cardopacity{
	background-color: rgba(0, 0, 0, 0);
}
.cardopacity:hover{
	background-color: rgba(0, 0, 0, 1);
}
#Interests{
	perspective: 1400px;/* for making 3D more attractive */
}
#Interests .card{
	width: 15rem;
	height: 25rem;
	transition: transform 0.8s;
	-o-transition: transform 0.8s;
	-webkit-transition: transform 0.8s;
	-moz-transition: transform 0.8s;
	transform-style: preserve-3d;
	user-select: none;
}
#Interests .card:hover, .cardback{
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
#Interests .card .card-img{
	opacity: 0.2;
	position: absolute;
	width: inherit;
	height: inherit;
}
.cardfront, .cardback{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
#Interests .card .card-img-overlay{
	display: flex;
	flex-direction: row; 	
	flex-wrap: wrap;        	
	justify-content: center;	
	align-items: center;
}
#EducationalAssistant,#ProjectCoordinator,#RDSpecialist,#TeachingAssistant,#Bachelor,#Master,#Publication,#Bio
{
	transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    user-select: none;
}
#EducationalAssistant:hover,#ProjectCoordinator:hover,#RDSpecialist:hover,#TeachingAssistant:hover,#Bachelor:hover,#Master:hover,#Publication:hover,#Bio:hover
{
	transform: scale(1.02);
}
#Bars
{
	padding-bottom: 0.2rem;
	justify-content: center;
}
#Name
{
	user-select: none;
}

.ImageBox{
	overflow: hidden;
	position: relative;
	height: 40%;
	/* width: auto; */
}
/* #EducationalAssistant .ImageBox{
	right: 13px;
} */
#TUDelftImage{
	transform: rotate(5deg) scale(1.2);
	overflow: visible;
}

#SBRImage{
	transform: rotate(10deg) scale(1.1);
	overflow: visible;
}

#UTImage{
	transform: rotate(-10deg) scale(0.9);
	overflow: visible;
}
.masker{
	mask-image: linear-gradient( black , transparent );
	-webkit-mask-image: linear-gradient( black , transparent );
}
