.link-disable{
	cursor: default;
	text-decoration: none;
	color: gray;
}
.link-disable img {
	width: 24px;
	height: 24px;
	display: inline;
}
.link-disable:hover{
	color: darkgray;
}
.link-disable:visited{
	color: darkgray;
}
.cardopacity{
	background-color: rgba(0, 0, 0, 0);
}
.cardopacity:hover{
	background-color: rgba(0, 0, 0, 1);
}

#Quote{
	user-select: none;
}
#Bio{
	text-align: justify;
    /* display: flex; Apply Flexbox layout */
    /* flex-wrap: wrap; Allow items to wrap */
    /* align-items: flex-start; Align items at the start of the container	 */
}

.bio-image {
    margin-right: 10px; /* Add some space between the image and the text */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image is responsive */
}

.bio-text {
    flex: 1; /* Allow the text to fill the remaining space */
	
}

.blockquote-custom-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -30px;
	left: 19px;
}

.blockquote-custom {
	position: relative;
	font-size: 1.2rem;
}
#Interests{
	padding: auto;
}

#Interests .card {	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	justify-content: center;
	position: relative;
	
}

#Interests .card h4 {
	position: absolute;

	left: 0%;
	width: 100%;
	height: auto;
}
.cardfront {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;	

}

.cardfront img {
	/* bring the image to center */
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 100%; /* Ensure the image covers the card width */
    height: auto; /* Maintain aspect ratio */
    transition: .7s ease;
	opacity: 0.1;
}

.cardback {
	opacity: 0;
	background-color: #ffffff;
	overflow: hidden;
	width: 100%;
	height: auto;
	transition: .7s ease;
	
}


#Interests .card:hover .cardback {
	opacity: 1; /* Make cardback visible on hover */
}

#Interests .card:hover .cardfront {
	opacity: 0; /* Make cardback visible on hover */
}

#Interests .card:hover h4 {
	opacity: 0; /* Make cardback visible on hover */
}



#Interests .card .carddesc{
	display: block;
}

#EducationalAssistant,#ProjectCoordinator,#RDSpecialist,#TeachingAssistant,#Bachelor,#Master,#Publication,#HonorsElement
{
	transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    user-select: none;
}
#EducationalAssistant:hover,#ProjectCoordinator:hover,#RDSpecialist:hover,#TeachingAssistant:hover,#Bachelor:hover,#Master:hover,#Publication:hover,#HonorsElement:hover
{
	transform: scale(1.02);
}

#StarContainers
{
	padding-bottom: 0.2rem;
	justify-content: space-around;
}
#Name
{
	user-select: none;
	vertical-align: middle;
}
#Skill
{
	display: block;
}
.ImageBox{
	position: relative;
	height: 40%;
	/* width: auto; */
}
/* #EducationalAssistant .ImageBox{
	right: 13px;
} */
#TUDelftImage{
	transform: rotate(5deg) scale(1.2);
	overflow: visible;
}

#SBRImage{
	transform: rotate(10deg) scale(1.1);
	overflow: visible;
}

#UTImage{
	transform: rotate(-10deg) scale(0.9);
	overflow: visible;
}
.masker{
	mask-image: linear-gradient( black , transparent );
	-webkit-mask-image: linear-gradient( black , transparent );
}


.star-0{
	content: url('../images/star-0.svg');
	margin: auto;
}

.star-25{
	content: url('../images/star-25.svg');
	margin: auto;
}

.star-50{
	content: url('../images/star-50.svg');
	margin: auto;
}

.star-75{
	content: url('../images/star-75.svg');
	margin: auto;
}

.star-100{
	content: url('../images/star-100.svg');
	margin: auto;
}
