.link-disable{
	cursor: default;
	text-decoration: none;
	color: gray;
}
.link-disable:hover{
	color: darkgray;
}
.link-disable:visited{
	color: darkgray;
}
.card-image-bg-modifiation{
	width: 400;
	height: 300;
	background-color: rgba(0, 0, 0, 0.8);
}
.card-image-bg-modifiation:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.cardstyle{
	width: 20rem;
}